*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

.wrap{
    position: relative;
    width:fit-content;
}

.bg{
    display: block; 
    width: 500px;
}

.fg{
    position: absolute;
    top:0px;
    left:0px;
    width: 300px;
   
    filter:grayscale(100%);
    mix-blend-mode:multiply;
}

button{
    margin-top:10px;
    padding: 8px 12px;
    cursor: pointer;
}



